/* @font-face {
	font-family: Aller;
	src: url(https://www.1001fonts.com/download/font/aller.bold.ttf);
} */
@font-face {
	font-family: Comfortaa;
	src: url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap);
}
:root{
	/* background: #72d7d7; */
	background: black;
}
*{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
.centerX, .logoContainerOut{
	display: flex;
	position: absolute;
	justify-content: center;
	width: 100%;
}
.centerY{
	height: 100vh;
	align-items: center;
}
.backButton{
	position: fixed;
	top: auto;
	bottom: 0px;
	width: 100px;
	height: 100px;
}
#playfield{
	/* background: grey; */
	height: 80vh;
	width: calc(80vh * 4/3);
	margin-top: 12vh;
	outline: solid white 4px;
}
#playBg, #startBg, #songSelect , #start{
	position: fixed;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
#playBg, #startBg{
	object-fit: cover;
}
#songSelect *{
	overflow: overlay;
}
#songScrollCont{
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
	width: 80vh;
	left: auto;
	right: 0px;
	background: #664DB3;
}
.songItem{
	background: #ff66aa;
	width: 79.62vh;
	height: 12.12vh;
}
* ::-webkit-scrollbar{
	background: rgba(0, 0, 0, 0.22);
	/* width: 0.6vh; */
	width: 200px;
}
* ::-webkit-scrollbar-thumb{
	background: #ffffff;
}
#options{
	background: rgba(0, 0, 0, 0.61);
	position: fixed;
	left: 8.3vh;
	height: 100vh;
	opacity: 0;
	width: 0vh;
	transition: width cubic-bezier(.15,.5,0,.95) 0.8s, opacity cubic-bezier(.15,.5,0,.95) 0.6s;
	overflow: hidden;
}
#optionsSidebar{
	display: block;
	background: #080808;
	position: fixed;
	width: 8.3vh;
	height: 100vh;
	opacity: 0;
	transition: opacity cubic-bezier(.15,.5,0,.95) 0.8s;
}
#errMsgBox{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
}
.errMsg{
	width: 100%;
	background:rgba(0, 0, 0, 0.80);
	animation: errMsg 2.5s;
	text-align: center;
	color: #ffffff;
	font-size: 5vh;
	opacity: 0;
	overflow: hidden;
	margin-top: 0.2vh;
	height: 0vh;
}
@keyframes errMsg {
	0%   { height: 0vh; opacity: 0; line-height: 0vh; }
	80%  { height: 6vh; opacity: 1; line-height: 6vh; }
	20%  { height: 6vh; opacity: 1; line-height: 6vh; }
	100% { height: 0vh; opacity: 0; line-height: 0vh; }
}
.miniMenu, .miniMenuOut{
	position: fixed;
	height: 0vh;
	width: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, 0.22);
	transition: all 0.3s;
	overflow: hidden;
	transition: all cubic-bezier(0.6,1.5,1,1) 0.3s;
}
.miniMenuOut{
	opacity: 1;
	height: 11vh;
	transition: all cubic-bezier(0.6,1.5,1,1) 0.3s;
}
.topMiniMenu{ top: 0px; }
.botMiniMenu{ bottom: 0px; top: auto; }
.logoBg{
	background-color: #ff66aa;
	height: 62vh;
	width: 62vh;
	border: solid white 3.5vh;
	border-radius: 62vh;
	transition: all 0.2s;
	text-align: center;
}
.logoBg:hover{
	border-radius: 68vh;
	height: 68vh;
	width: 68vh;
}
.logoText{
	cursor: default;
	color: white;
	font-family: Aller, arial;
	font-size: 27vh;
	margin-top: 12.3vh;
	transition: all 0.2s;
}
.logoBg:hover > .logoText{
	font-size: 30vh;
	margin-top: 13.5vh;
}
.logoOnlineText{
	margin-top: -10vh;
	margin-left: 2vh;
	transition: all 0.2s;
	height: 25.9vh;
	transform: scale(0.8) rotate(10deg);
	pointer-events: none;
}
.logoBg:hover > .logoOnlineText{
	top: -10vh;
	transform: scale(1);
}
.logoContainerOut{ width: calc(100% - 48.88vh); }
.logoButtonContainer, .logoButtonContainerIn{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	opacity: 100;
	left: 31.5vh;
	width: 57.9vh;
	height: 38vh;
	transition: all 0.35s;
}
.logoButtonContainerIn{
	opacity: 0;
	left: 11vh;	
}
.logoButton{
	position: relative;
	background: #664DB3;
	width: 47.9vh;
	height: 11vh;
	border: solid transparent 0px;
	border-radius: 1vh;
	transition: all ease-out 0.25s;
	font-size: 5.5vh;
	color: beige;
	transform: skewX(var(--deg));
}
.logoButton:hover{
	width: 52.9vh;
	background: #ff66aa;
	transition: all cubic-bezier(0.6,2,1,1) 0.125s;
}
.logoButton div{
	transform: skewX(var(--deg));
}
.ppyLogo, .conmannLogo{
	position: relative;
	height: 4vh;
	width: 27vh;
	top: 6.4vh;
	left: 1vh;
	cursor: pointer;
	transition: all 1.5s ease-out;
	font-family: bahnshrif;
	font-weight: 400;
}
.ppyLogo div, .conmannLogo div{
	position: relative;
	top: -4.8vh;
	left: 9.3vh;
	color: #ffffff;
}
.ppyLogo:hover{
	top: 6vh;
	left: 3vh;
	transform: scale(1.15);
	filter: brightness(0.7) sepia(400%) saturate(200%);
	transition: all 0.7s cubic-bezier(.17,.67,.4,1.7), filter 0.7s;
}
.conmannLogo div{ left: 5vh; }
.conmannLogo{
	position: relative;
	height: 7vh;
	width: 15vh;
	top: -0.3vh;
	left: auto;
	float:right;
}
.conmannLogo:hover{
	transform: scale(1.15);
	top: -1vh;
	transition: all 0.7s cubic-bezier(.17,.67,.4,1.7), filter 0.7s;
}